@model Register

@{
ViewData["Title"] = "Register";
}
<div class="container">
    <form asp-action="Register" method="POST">
        <!--Tüm Hata mesajlarının göstermek için -->
        <div class="text-danger" asp-validation-summary="All"></div>

        <div class="form-group">
            <div class="text-danger" asp-validation-summary="UserName"></div>
            <label asp-for="UserName">UserName</label>
            <input asp-for="UserName" class="form-control">
        </div>

        <div class="form-group">
            <div class="text-danger" asp-validation-summary="Email"></div>
            <label asp-for="Email">Email</label>
            <input asp-for="Email" class="form-control">
        </div>

        <div class="form-group">
            <div class="text-danger" asp-validation-summary="Password"></div>
            <label asp-for="Password">Password</label>
            <input asp-for="Password" class="form-control">
        </div>

        <div class="form-group">
            <div class="text-danger" asp-validation-summary="BirthDate"></div>
            <label asp-for="BirthDate">BirthDate</label>
            <input asp-for="BirthDate" type="test" asp-format="{0:d}" class="form-control">
        </div>

        <div class="form-group">
            <div class="text-danger" asp-validation-summary="TermsAccepted"></div>
            <input asp-for="TermsAccepted">
            <label asp-for="TermsAccepted" class="form-check-label">
                I Accept the Terms</label>
        </div>

        <input type="submit" class="btn btn-primary" value="Register">

    </form>
</div>