@model List<Category>

    <div class="menu">
        <ul>

            @foreach (var item in Model)
            {
            <li><a href="/">@item.Name</a></li>
            }
        </ul>
    </div>